body {
	font: 100%/1.4 Arial, Helvetica;
	background-color: #efefef;
	margin: 0;
	padding: 0;
	color: #3a3a3a;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

h1 {
	text-align: center;
}

img { 
	max-width: 100%; height: auto;
}

a img {
	border: none;
}

a:link {
	color: #1122CC;
	text-decoration: underline;
}

a:visited {
	color: #6611CC;
	text-decoration: underline;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}



.menu {
	background-color: #222222;
	overflow: hidden;
}

.menu a {
	float: left;
	color: #FFF;
	text-align: center;
	padding: 10px 30px 10px 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
}

.menu a:hover {
	background-color: #3f3f3f;
}

.menu a.active {
  color: orange;
}



.container {
	max-width: 960px;
	background-color: #FFF;
	margin: 0 auto;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}



.content {
	padding: 25px 40px 20px 40px;
}


.optin-hp {
	color: #FFF;
	background-color: #2a83bf;
	text-align: center;
	padding: 10px 0 5px 0;
	margin-top: 20px;
	margin-bottom: 20px;
}


.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
	color: grey;
	font-size: 12px;
	text-align: center;
}

footer a:link {
	color: grey;
}
img.banner {
   display: flex;
}
/*
*========================
  * Mobile Hamburger Menu
*========================
*/
#navigation {
   width: 100%;
   background: #222222;
}
#navigation a {
   color: #fff;
   text-decoration: none;
}
#navigation label, #hamburger {
   display: none;
 }
/*
*================
  * Media Queries
*================
*/
@media screen and (max-width: 768px){

   .content {
      padding: 65px 40px 20px 40px;
   }
   #navigation {
      position: absolute;
   }
   #navigation .menu {
      display: none;
      }
   #navigation .menu a {
      border-bottom: 1px solid #333;
      width: 100%;
   }
   #navigation input:checked ~ .menu {
      background-color: #222222;
      display: block;
   }
   #navigation label {
      cursor: pointer;
      display: block;
      color: #fff;
      font-style: normal;
      font-size: 20px;
      float: right;
      padding: 5px 30px 5px 0;
   }

}
  